body {
    background-color: #f8f9fa;
  }
  header {
    background-color: #0454a8;
    color: white;
    padding: 20px 0;
  }
  h1 {
    font-weight: bold;
  }
  h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  nav ul {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: #ffdd57;
  }
  hr {
    width: 90%;
    height: 2px;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 5px;
  }
  main {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  .form-select, .form-control {
    margin-bottom: 15px;
  }
  button {
    background-color: #0454a8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #033f7a;
  }
  footer {
    background-color: #0454a8;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  footer a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  footer a:hover {
    color: #ffdd57;
  }
  .text-reset {
    color: white;
  }
  