body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0454a8;
}

nav a:hover {
  color: #ff9800;
}

footer {
  text-align: center;
  padding: 10px;
}
